.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    height: 35px;
    padding: 9px 16px;
    border-radius: 25px;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--black);
    background-color: var(--white);
    border: 1px solid transparent;

    transition: all 0.3s ease;
    cursor: pointer;

    + .wrapper {
        margin-left: 1px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 30%;
    }
}

.icon + .title {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 20px;
    text-align: center;
}

// Button types
.primary {
    color: var(--white);
    background-color: var(--primary);

    &:hover {
        background-color: var(--primary-hover);
    }
}

.outline {
    font-family: var(--font-family);
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        color: var(--white);
        background-color: var(--primary-hover);
        border-color: transparent;
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}
//Button size
.small {
    min-width: 86px;
    padding: 4px 16px;
}
