.menu-product {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 5px 10px;
    background-color: var(--background-color);
    border-radius: 10px;
    transition: background-color 0.6s ease;

    + .menu-product {
        margin-top: 6px;
    }

    &:hover {
        background-color: var(--background-color-hover);
    }

    .new-tag {
        position: absolute;
        top: -5px;
        right: 0;
        height: 15px;
    }

    .sale-tag {
        top: -15px;
        right: -15px;
        height: 38px;
    }

    .img {
        width: 30px;
        height: 30px;
        border-radius: 999px;
        object-fit: cover;
    }

    .title {
        flex: 1;
    }

    .to-game {
        padding: 5px 10px;
        color: var(--white);
        background-color: var(--primary-hover);
        border-radius: 10px;

        &:hover {
            background-color: red;
        }
    }
}
