.wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: var(--default-layout-width);
    min-height: 1000px;
    margin-top: var(--default-layout-header-height);
}

.content {
    flex: 1;
    min-height: 1000px;
    padding-top: 20px;
    overflow-x: hidden;
}

@media screen and (max-width: 768px) {
    .container {
        width: 670px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
        max-width: 480px;
        padding: 5px;
    }
}
