.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.advantage {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

.new-product {
    width: 100%;
    padding-top: 20px;

    & > h3 {
        color: var(--primary);
        padding-bottom: 5px;
    }

    .slide {
        display: inline-flex;
    }
}

.poster {
    position: relative;
    width: 100%;
    height: 200px;

    img {
        width: 100%;
        object-fit: cover;
    }

    .counter {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px;
        width: 200px;
        height: 60px;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
        color: var(--white);
        background-color: var(--primary);
        border-radius: 10px;
        border: 3px solid var(--white);

        .number {
            font-size: 1.8rem;
            font-weight: 600;
        }
    }
    .wrapper-location {
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        pointer-events: none;

        div:nth-child(odd) {
            scale: 0.8;
        }
    }
}

.wrapper-product {
    padding-top: 20px;
    width: 100%;

    h3 {
        padding-bottom: 10px;
    }

    .all-product {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 10px;
        width: 100%;
        padding: 0 5px;

        .custom-product {
            flex: 1;
            min-width: 150px;
            & + .custom-product {
                margin-left: 0;
            }
        }
    }
}

.live-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
    row-gap: 30px;
    padding-top: 30px;
}

@media screen and (max-width: 480px) {
    .advantage {
        min-width: 345px;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .poster {
        min-width: 370px;

        .counter {
            width: 150px;
            height: 30px;
            border: 2px solid var(--white);

            .number {
                font-size: 1.3rem;
                font-weight: 400;
            }
        }

        .wrapper-location {
            bottom: 35px;
        }
    }

    .wrapper-product {
        margin-top: -40px;

        .all-product {
            column-gap: 10px;

            .custom-product {
                flex: 1;
                min-width: 150px;
            }
        }
    }

    .live-item {
        padding-top: 0;
        margin-top: -30px;
    }
}
