.wrapper {
    --width-search: 52px;
    --height-search: 46px;
    --border-radius-search: 92px;
    --top-spacer-search: 9px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    background-color: var(--white);
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
}
.inner {
    width: var(--default-layout-width);
    height: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .login {
        display: flex;
        align-items: center;

        .cart-btn {
            font-size: 1.8rem;
            padding: 4px 12px;
            background-color: transparent;
            cursor: pointer;

            span {
                font-size: 1.3rem;
                margin-left: 5px;
            }

            &:hover {
                color: var(--primary-hover);
            }
        }
    }
}

.logo {
    height: 100%;

    img {
        height: 100%;
        object-fit: cover;
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 999px;
    object-fit: cover;
}

.more-btn {
    font-size: 2rem;
    margin-left: 8px;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding: 0 10px;
    }
}
