.wrapper {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 150px;
    height: 150px;
    padding: 10px 5px 15px;
    background-color: rgba(0, 45, 150, 0.703);
    border-radius: 20px;
    border: 2px solid var(--white);
    backdrop-filter: blur(2px);

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        font-size: 1.3rem;
        text-align: center;
        color: var(--white);
    }

    .avt {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(calc(-50% - 10px));
        width: 80px;
        height: 80px;
        border: 2px solid var(--white);
        border-radius: 999px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 999px;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        width: 120px;
        height: 120px;

        .content {
            font-size: 1.2rem;
        }

        .avt {
            width: 50px;
            height: 50px;
        }
    }
}
