.menu-item {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    padding: 8px 8px 8px 0;
    transition: background-color ease-in-out 200ms;

    &:hover {
        color: var(--primary-hover);
        background-color: var(--background-hover);
    }
}

.active {
    color: var(--primary-hover);
}

.icon {
    text-align: center;
    width: 20px;
}

.title {
    flex: 1;
    font-size: 1.6rem;
    margin-left: 10px;
}
